@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "poppins";
  font-size: 1.1rem;
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}

.fieldset {
  flex-direction: column;
}
.fieldset legend {
  text-decoration: underline;
  font-family: "Montserrat";
  font-weight: 500;
}

.heading {
  text-decoration: underline;
}

h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "Montserrat";
  font-size: 2rem;
}

.url-group {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.url-group input {
  width: 70vw;
  height: 1.5rem;
}

.navbar h3 {
  font-family: "Whisper";
  font-size: 2rem;
  margin-block: 0.5em;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: underline;
}

.head {
  margin-block: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container * {
  display: flex;
}

.container-head {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#params-container {
  margin: auto;
  display: grid;
  place-items: center;
  width: 80vw;
}

.parameterBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.parameterBox input {
  width: 30vw;
  height: 1.43rem;
  -webkit-padding-before: 0.2em;
          padding-block-start: 0.2em;
}
.parameterBox p {
  margin: 0;
  text-decoration: underline;
}
.parameterBox .btn {
  padding-inline: 0.5em;
  -webkit-padding-after: 0.13rem;
          padding-block-end: 0.13rem;
}

#Json {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#Json textarea#Json-Box {
  max-width: 30rem;
  width: 60vw;
  height: 10rem;
  resize: vertical;
}

button.btn {
  padding: 0.05em;
  font-size: 1.2rem;
}

hr {
  height: 0.1rem;
  width: 40vw;
  border: 0.2rem dashed;
  border-radius: 1rem;
}

#submit {
  -webkit-margin-before: 2em;
          margin-block-start: 2em;
  margin-inline: 3rem;
  display: flex;
  justify-content: center;
}
#submit .btn {
  width: 100%;
  max-width: 40rem;
  right: auto;
}

#Response {
  display: grid;
  place-items: center;
  flex-direction: column;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
#Response textarea {
  max-width: 30rem;
  width: 60vw;
  height: 10rem;
  resize: vertical;
}

.textarea {
  font-family: "Space Mono";
}

@media (max-width: 500px) {
  .side-by-side {
    flex-direction: column;
    width: 80vw;
    margin-inline: auto;
  }

  .parameterBox {
    flex-direction: column;
    justify-content: center;
    place-content: center;
  }
  .parameterBox p {
    text-align: center;
  }
  .parameterBox .input {
    flex-direction: row;
    margin: auto;
  }
  .parameterBox .input input {
    width: 30vw;
    -webkit-margin-end: 1em;
            margin-inline-end: 1em;
  }

  #Response fieldset {
    display: grid;
    place-items: center;
  }

  #Json {
    text-decoration: underline;
    display: grid;
    place-items: center;
  }
}/*# sourceMappingURL=main.css.map */